html{
    font-size: 18px;
}

#fr{
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    text-align: center;
    color: rgb(252, 252, 253);
    text-shadow: 5px 5px 10px #000000;
}

body{
    background: rgb(79, 79, 228);
}
#inv{
    width: 50%;
    float:left;
    border: 0.2rem blue solid ;
    padding: 2rem;
    display: block;
    background: rgb(96, 96, 226);
    color:black;
}

img{

    margin-right: auto;
}

div{
    color: chocolate;
    size:2rem;
}
#aaa{
    display:block;
}